<!DOCTYPE html>
<html lang="en">

<head>
    Print number in new line
</head>

<body>
    <div>
        <% result.forEach((number) =>{ %>
        <div><%= number %></div>
        <% }); %>
    </div>
</body>

</html>